{% extends '@App/protected_layout.html.twig' %}
{# {% block body %}#} {# <div id="wrapper">#} {# <div
id="sidebar-wrapper">#} {# {{
knp_menu_render('AppBundle:Builder:mainMenu', {'template':
'AppBundle:menu:knp_menu.html.twig'}) }}#} {# </div>#} {# </div>#} {# {%
endblock %}#}
